@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

body {
    background-color: rgb(12, 12, 12);
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    color: white;
    padding: 10px;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin: 10px;
}

div {
    border-radius: 1rem;
    margin: 0.4rem 0.2rem;
}

h1, h2, h3, p {
    margin: 1rem;
}

/*left side of header*/
.left {
    display: grid;
    grid-template-rows: 1fr 0.75fr;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100%;
}

h1 {
    font-size: 2rem;
    line-height: 2.25rem;
}

p {
    font-size: 0.6rem;
}

.phrase {
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: #ffffff13;
}

.xp, .projects, .clients {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.xp {
    background-color: #16c29d;
}

.projects {
    color: black;
    background-color: #cca90d ;
}

.clients {
    background-color: #d66c7e;
}

/*right side of header*/
.right {
    display: grid;
    height: 100%;
    grid-template-rows: 1fr 1fr 4fr 1fr;
    grid-template-columns: 1fr 1fr;
}

a.navbar {
    background-color: transparent;
    color: white;
}
.top-r {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff13;
    align-items: center;    
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
}

.img {
    grid-row-start: 2;
    grid-row-end: 5;
    grid-column-end: 2;
}

img{
    border-radius: 1.25rem;
    width: 100%;
    height: 100%;
}
.name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff13; 
}

h3 {
    font-size: 0.6rem;
}

.location {
    display: flex;
    flex-direction: column;
    background-color: #ffffff13;
}

.loc {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

iframe {
    align-self: center;
    width: 90%;
    height: 90%;
    margin: 1rem;
    border-radius: 1.25rem;
}
.info {
    text-align: center;
    font-size: 24px;
    background-color: #ffffff13;
}

.social {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff13;
    padding: 0;
}

a {
    margin: 1rem;
    color: black;
    background-color: azure;
    padding: 1rem;
    border-radius: 100%;
}

a.linkedin:hover {
    color: white;
    background-color: #0077b5;
}

a.mail:hover {
    color: white;
    background-color: #f0da16;
}

a.github:hover {
    color: white;
    background-color: #5400b5;
}

a.phone:hover {
    color: white;
    background-color: #458f1a;
}


footer {
    background-color: #ffffff;
    color: #000000;
    height: fit-content;
}

@media screen and (max-width: 1440px) {
    h1 {
        font-size: 5rem;
        line-height: normal;
    }

    h3 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1rem;
    }
}